<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <header>
        <h1>PassGenerator</h1>
        <span class="author">Marck C. Guzm&aacute;n</span>
    </header>
    <section>
        <div id="len">
            <label for="pass_len">Pass Length:</label>
            <input type="number" id="pass_len" value="8" min="4" max="20" contenteditable="false" >
        </div>
        <div id="btn">
            <button id="gen_pass">
                Generate
            </button>
        </div>
    </section>

    <footer>
        <span class="info">
            Password: 
        </span>
        <span id="pass"></span>
    </footer>
    <script src="/eel.js"></script>
    <script src="js/main.js"></script>
</body>
</html>